In [38]:
# Dependencies
import pandas as pd
from sqlalchemy import *
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.dialects.sqlite import DATE

In [39]:
# Store clean_hawaii_measurements.csv into dataframe
df = pd.read_csv('clean_hawaii_measurements.csv')
df

       Unnamed: 0      station        date  prcp  tobs
0               0  USC00519397  2010-01-01  0.08    65
1               1  USC00519397  2010-01-02  0.00    63
2               2  USC00519397  2010-01-03  0.00    74
3               3  USC00519397  2010-01-04  0.00    76
4               4  USC00519397  2010-01-07  0.06    70
5               5  USC00519397  2010-01-08  0.00    64
6               6  USC00519397  2010-01-09  0.00    68
7               7  USC00519397  2010-01-10  0.00    73
8               8  USC00519397  2010-01-11  0.01    64
9               9  USC00519397  2010-01-12  0.00    61
10             10  USC00519397  2010-01-14  0.00    66
11             11  USC00519397  2010-01-15  0.00    65
12             12  USC00519397  2010-01-16  0.00    68
13             13  USC00519397  2010-01-17  0.00    64
14             14  USC00519397  2010-01-18  0.00    72
15             15  USC00519397  2010-01-19  0.00    66
16             16  USC00519397  2010-01-20  0.00    66
17             17  USC00519397  2010-01-21  0.00    69
18             18  USC00519397  2010-01-22  0.00    67
19             19  USC00519397  2010-01-23  0.00    67
20             20  USC00519397  2010-01-24  0.01    71
21             21  USC00519397  2010-01-25  0.00    67
22             22  USC00519397  2010-01-26  0.04    76
23             23  USC00519397  2010-01-27  0.12    68
24             24  USC00519397  2010-01-28  0.00    72
25             25  USC00519397  2010-01-31  0.03    67
26             26  USC00519397  2010-02-01  0.01    66
27             27  USC00519397  2010-02-04  0.01    69
28             28  USC00519397  2010-02-05  0.00    67
29             29  USC00519397  2010-02-06  0.00    67
...           ...          ...         ...   ...   ...
18073       18073  USC00516128  2017-07-17  0.39    72
18074       18074  USC00516128  2017-07-18  2.40    77
18075       18075  USC00516128  2017-07-19  0.27    74
18076       18076  USC00516128  2017-07-20  0.70    75
18077       18077  USC00516128  2017-07-21  0.10    72
18078       18078  USC00516128  2017-07-22  4.00    72
18079       18079  USC00516128  2017-07-23  0.80    78
18080       18080  USC00516128  2017-07-24  0.84    77
18081       18081  USC00516128  2017-07-25  0.30    79
18082       18082  USC00516128  2017-07-26  0.30    73
18083       18083  USC00516128  2017-07-27  0.00    75
18084       18084  USC00516128  2017-07-28  0.40    73
18085       18085  USC00516128  2017-07-29  0.30    77
18086       18086  USC00516128  2017-07-30  0.30    79
18087       18087  USC00516128  2017-07-31  0.00    74
18088       18088  USC00516128  2017-08-02  0.25    80
18089       18089  USC00516128  2017-08-03  0.06    76
18090       18090  USC00516128  2017-08-07  0.05    78
18091       18091  USC00516128  2017-08-08  0.34    74
18092       18092  USC00516128  2017-08-09  0.15    71
18093       18093  USC00516128  2017-08-10  0.07    75
18094       18094  USC00516128  2017-08-12  0.14    74
18095       18095  USC00516128  2017-08-14  0.22    79
18096       18096  USC00516128  2017-08-15  0.42    70
18097       18097  USC00516128  2017-08-16  0.42    71
18098       18098  USC00516128  2017-08-17  0.13    72
18099       18099  USC00516128  2017-08-19  0.09    71
18100       18100  USC00516128  2017-08-21  0.56    76
18101       18101  USC00516128  2017-08-22  0.50    76
18102       18102  USC00516128  2017-08-23  0.45    76

[18103 rows x 5 columns]

In [40]:
# Drop the extra column from dataframe
df = df.drop('Unnamed: 0',1)
df.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-07  0.06    70

In [41]:
# Store hawaii_stations.csv into a dataframe
df1 = pd.read_csv('hawaii_stations.csv')
df1

,station,name,latitude,longitude,elevation
0,USC00519397,"WAIKIKI 717.2, HI US",21.27160,-157.81680,3.0
1,USC00513117,"KANEOHE 838.1, HI US",21.42340,-157.80150,14.6
2,USC00514830,"KUALOA RANCH HEADQUARTERS 886.9, HI US",21.52130,-157.83740,7.0
3,USC00517948,"PEARL CITY, HI US",21.39340,-157.97510,11.9
4,USC00518838,"UPPER WAHIAWA 874.3, HI US",21.49920,-158.01110,306.6
5,USC00519523,"WAIMANALO EXPERIMENTAL FARM, HI US",21.33556,-157.71139,19.5
6,USC00519281,"WAIHEE 837.5, HI US",21.45167,-157.84889,32.9
7,USC00511918,"HONOLULU OBSERVATORY 702.2, HI US",21.31520,-157.99920,0.9
8,USC00516128,"MANOA LYON ARBO 785.2, HI US",21.33310,-157.80250,152.4

In [42]:
# Create an engine to connecting to hawaii.sqlite
engine = create_engine("sqlite:///hawaii.sqlite")

In [43]:
# Create a connection
conn = engine.connect()

In [44]:
# Declaring a base
Base = declarative_base()

In [45]:
# Declare a class called Measurement and a table called hawaii_measurements
class Measurement(Base):
    __tablename__ = 'hawaii_measurement'
    
    id = Column(Integer, primary_key = True)
    station = Column(String)
    date = Column(Date)
    prcp = Column(Float)
    tobs = Column(Float)
    
    def __repr__(self):
        return f"id={self.id}, name={self.name}"

In [46]:
# Use create_all to create the customers table in the database
Base.metadata.create_all(engine)

In [47]:
# Declare a class called Station and a table called hawaii_station
class Station(Base):
    __tablename__ = 'hawaii_station'
    
    id = Column(Integer, primary_key = True)
    station = Column(Text)
    name = Column(Text)
    latitude = Column(Float)
    longitude = Column(Float)
    elevation = Column(Float)
    
    def __repr__(self):
        return f"id={self.id}, name={self.name}"

In [48]:
# Use create_all to create the customers table in the database
Base.metadata.create_all(engine)

In [49]:
# Turns the dataframe into dictionary
measurement_data = df.to_dict(orient = 'records')

In [50]:
measurement_data[0]

{'date': '2010-01-01', 'prcp': 0.08, 'station': 'USC00519397', 'tobs': 65}

In [51]:
# Turns the dataframe into dictionary
station_data = df1.to_dict(orient = 'records')

In [52]:
station_data[0]

{'elevation': 3.0,
 'latitude': 21.2716,
 'longitude': -157.8168,
 'name': 'WAIKIKI 717.2, HI US',
 'station': 'USC00519397'}

In [53]:
# Use MetaData from SQLAlchemy to reflect the tables
metadata = MetaData(bind = engine)
metadata.reflect()

In [54]:
Measurement.__table__

Table('hawaii_measurement', MetaData(bind=None), Column('id', Integer(), table=<hawaii_measurement>, primary_key=True, nullable=False), Column('station', String(), table=<hawaii_measurement>), Column('date', Date(), table=<hawaii_measurement>), Column('prcp', Float(), table=<hawaii_measurement>), Column('tobs', Float(), table=<hawaii_measurement>), schema=None)

In [55]:
# Save the reference to the hawaii_measurement table as a variable called table
table = Table('hawaii_measurement', metadata, autoload= True)

In [56]:
# Save the reference to the hawaii_station table as a variable called table1
table1 = Table('hawaii_station', metadata, autoload = True)

In [57]:
# Use table.delete() to remove any pre-existing data.
conn.execute(table.delete())
conn.execute(table1.delete())

In [58]:
# Insert data into the table
conn.execute(table.insert(), measurement_data)

In [59]:
# Insert data into the table
conn.execute(table1.insert(), station_data)

In [60]:
# Run a SQL query
conn.execute("select * from hawaii_measurement LIMIT 10").fetchall()

[(1, 'USC00519397', '2010-01-01', 0.08, 65),
 (2, 'USC00519397', '2010-01-02', 0, 63),
 (3, 'USC00519397', '2010-01-03', 0, 74),
 (4, 'USC00519397', '2010-01-04', 0, 76),
 (5, 'USC00519397', '2010-01-07', 0.06, 70),
 (6, 'USC00519397', '2010-01-08', 0, 64),
 (7, 'USC00519397', '2010-01-09', 0, 68),
 (8, 'USC00519397', '2010-01-10', 0, 73),
 (9, 'USC00519397', '2010-01-11', 0.01, 64),
 (10, 'USC00519397', '2010-01-12', 0, 61)]

In [61]:
# Run a SQL query
conn.execute("select * from hawaii_station LIMIT 10").fetchall()

[(1, 'USC00519397', 'WAIKIKI 717.2, HI US', 21.2716, -157.8168, 3.0),
 (2, 'USC00513117', 'KANEOHE 838.1, HI US', 21.4234, -157.8015, 14.6),
 (3, 'USC00514830', 'KUALOA RANCH HEADQUARTERS 886.9, HI US', 21.5213, -157.8374, 7.0),
 (4, 'USC00517948', 'PEARL CITY, HI US', 21.3934, -157.9751, 11.9),
 (5, 'USC00518838', 'UPPER WAHIAWA 874.3, HI US', 21.4992, -158.0111, 306.6),
 (6, 'USC00519523', 'WAIMANALO EXPERIMENTAL FARM, HI US', 21.33556, -157.71139, 19.5),
 (7, 'USC00519281', 'WAIHEE 837.5, HI US', 21.45167, -157.84888999999998, 32.9),
 (8, 'USC00511918', 'HONOLULU OBSERVATORY 702.2, HI US', 21.3152, -157.9992, 0.9),
 (9, 'USC00516128', 'MANOA LYON ARBO 785.2, HI US', 21.3331, -157.8025, 152.4)]